include vmimagemanager
include vmim/__init__.py
include docs/examples/vmimagemanager-example-au.cfg
include docs/examples/vmimagemanager-example-d430.cfg
include docs/examples/vmimagemanager-example-esys.cfg
include docs/examples/vmimagemanager-example-irl.cfg
include docs/examples/vmimagemanager-example-whitehouse.cfg
include docs/examples/vmimagemanager-xen-example.template
include docs/examples/xen.template
include docs/examples/xen.template.example.full.virtualisation
include docs/examples/logging.conf
include docs/examples/libvirt-redhat-el-6.xsl
include docs/examples/libvirt-redhat-el-5.xsl
include docs/pics
include docs/pics/Makefile
include docs/pics/SGE_WN.txt
include README
include libvirt.xsl
include vmimagemanager.cfg.template
